<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIMVC MVC Framework{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/gallery/index">Gallery</a>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>